<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plants</title>
    <link rel="stylesheet" href="../static/css/basic_style_light.css">
    <script src="../static/javascript/interactive.js"></script>
    <style></style>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <!-- <img src="{{ url_for('static', filename='images/logo-small.png') }}" class="logo" /> -->
    <header>Wild Plants!</header>

    <nav>
        {% if new_user %}
        <a href="{{ url_for('user_blueprint.register') }}" class="nav-button" id="register-button">Register</a>
        {% endif %}

        {% if session["username"] %}
        <a href="{{ url_for('new_note_blueprint.default') }}" class="nav-button" id="new-note-button">New Note</a>
        <a href="{{ url_for('all_notes_blueprint.default') }}" class="nav-button" id="review-button">View All</a>
        <a href="{{ url_for('user_blueprint.logout') }}" class="nav-button" id="logout-button">Log Out</a>
        {% endif %}
    </nav>

    <main>
        {% block mainbody%}{% endblock %}
    </main>
</body>
</html>
