{% extends "base.html" %}
{% block mainbody %}
    <section>
        <div class="section-control" onClick="minimise('search-block')">[-]</div>

        <!-- search/filter section -->
        <div class="big-block">
            <div class="block-title"><h2>Welcome back {{ username }}</h2></div>
            <div id="search-block">
                <form method="post" action="/review/searchnotes" id="search-notes-form">
                    <!-- Tag -->
                    <label class="label-text" for="tag-input-text">Tag:</label>
                    <input type="text" name="tag-input-text" placeholder="#tag1 #tag2 #tag3" value="{{tags}}" />

                    <!-- Location -->
                    &nbsp;
                    <label class="label-text" for="location-input-text">Where:</label>
                    <input type="text" name="location-input-text" placeholder="Search by location" value="{{location}}" />
                    
                    <!-- Date -->
                    &nbsp;
                    <label class="label-text" for="date-input-text">Date:</label>
                    {% if search_date %}
                        <input type="date" id="date-input-text" name="date-input-text" value="{{search_date}}" />
                    {% else %}
                        <input type="date" id="date-input-text" name="date-input-text" value="{{datenow}}" />
                    {% endif %}
                    
                    &nbsp;&nbsp;
                    <input type="submit" name="search-button" value="Search" class="nav-button" />
                </form>
            </div>
        </div>

        <!-- display our notes and thumbnails -->
        <div class="big-block">
            <!--<div class="block-title">All Existing Notes</div>-->
            <div class="notes-grid">
                {% for note in all_notes %}
                    {% set note=note %}
                    {% include 'note.html' %}
                {% endfor %}
            </div>
        </div>
    </section>
    
    
    <!-- get us to the edit screen -->
    <form method="post" action="/review/editnote" id="note-form">
        <input type="hidden" name="note-to-edit" id="note-to-edit" value="" />
    </form>
{% endblock %}